* {
    margin: 0;
    padding: 0;
}
.j {
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    float: right;
}



.clearfix:after {
    content: " ";
    display: block;;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}