*{
    margin: 0;
    padding: 0;
}

.f{
    display: flex;
}
.c1{
    width: 100px;
    height: 100px;
    background: rebeccapurple;
}
.c2{
    width: 100%;
    height: 100px;
    background: royalblue;
    margin-left: 10px;
}