* {
    margin: 0;
    padding: 0;
}

.clearfix:before,.clearfix:after {

    content: "";

    display: block;

    clear: both;

}
.clearfix {

    zoom: 1;

}
.c {
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    float: right;
}




