* {
    margin: 0;
    padding: 0;
}

.f {
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    animation: change 2s ease 1s infinite reverse paused;
}

@keyframes change {
    0% {
        width: 50px;
    }
    100% {
        width: 200px;
    }
}