*{
    margin: 0;
    padding: 0;
}

.c1{
float: right;
    width: 100px;
    height: 100px;
    background: rebeccapurple;
}
.c2{


    height: 100px;
    margin-right: 100px;
    background: royalblue;
}